/* .container{
    display: flex;
    flex-direction: row;
} */

/* .customizationcontainer {
    width: 50%;
} */
.maincontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.title {
    margin-left: 30px;
}
.addtagbutton {
    margin-top: 20px;
}

.inputrow{
    display: flex;
    align-items: center;
    justify-items: baseline
}
/* .inputsmall {
    width: 300px;
} */
.inputlarge{
    width:400px;
}
.inputname1{
    margin-left: 10px;
    padding-right: 160px;
    display: flex;
    align-items: center;
}
.inputname2{
    margin-left: 10px;
    padding-right: 160px;
}
.inputname3{
    margin-left: 10px;
    padding-right: 125px;
}
.inputname4{
    margin-left: 10px;
    padding-right: 50px;
}
.inputname5{
    margin-left: 10px;
    padding-right: 140px;
}
.submitrow {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 20px;
    width: auto;
}

